<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <a class="footer-logo" href="./index.html">
        <svg width="16" height="16">
          <use href="../img/icons.svg#squares-mob"></use>
        </svg>
        <svg width="148" height="12">
          <use href="../img/icons.svg#logo-mob"></use>
        </svg>
      </a>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="howitwork" target="_blank">how it works</a>
          </li>
          <li class="footer-nav-item">
            <a href="" target="_blank">vegetables</a>
          </li>
          <li class="footer-nav-item">
            <a href="" target="_blank">reviews</a>
          </li>
        </ul>
      </nav>
      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-contacts-item">
            <p class="footer-contacts-address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-happyend">
      <ul class="footer-happyend-list">
        <li class="footer-happyend-item">
          <a href="">Privacy Policy</a>
        </li>
        <li class="footer-happyend-item">/</li>
        <li class="footer-happyend-item">
          <a href="">Cookie settings</a>
        </li>
      </ul>
      <p class="footer-happyend-copyrights">&copy; Green Harvest 2023</p>
    </div>
  </div>
</footer>