<header data-aos="fade-down" class="header">
  <a id="backToTop"></a>
  <div class="container">
    <nav class="header-navigation">
      <div class="header-container-logo animate__animated animate__fadeInLeft">
        <ul class="header-logo-list">
          <li class="header-logo-item">
            <a class="header-logo-link" href="./index.html">
              <svg class="icon-logo-squares" width="16" height="16">
                <use href="./img/icons.svg#squares-mob"></use>
              </svg>
            </a>
          </li>
          <li class="header-logo-item">
            <a class="header-logo-link" href="./index.html">
              <svg class="icon-logo-text" width="148" height="12">
                <use href="./img/icons.svg#logo-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="header-container-nav animate__animated animate__fadeInRight">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#howitwork">How It Works</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#review">Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <button
      data-modal-open
      type="button"
      class="header-btn animate__animated animate__fadeInRight"
    >
      Shop now
    </button>
    <button
      data-mobile-open
      type="button"
      class="open-menu-btn animate__animated animate__fadeInRight"
    >
      <svg class="icon-menu" width="32" height="32">
        <use href="./img/icons.svg#menu-mob"></use>
      </svg>
    </button>
  </div>
  <!-- -------mobail_menu---------- -->
  <div data-mobile-menu class="backdrop">
    <div class="mob-menu">
      <button data-mobile-close type="button" class="close-menu-btn">
        <svg class="mob-close-icon" width="32" height="32">
          <use href="./img/icons.svg#x-mob"></use>
        </svg>
      </button>
      <nav class="menu-navigation">
        <ul class="menu-navigation-list">
          <li class="menu-navigation-item">
            <a class="menu-navigation-link" data-mobile-link href="#howitwork"
              >How It Works</a
            >
          </li>
          <li class="menu-navigation-item">
            <a class="menu-navigation-link" data-mobile-link href="#vegetables"
              >Vegetables</a
            >
          </li>
          <li class="menu-navigation-item">
            <a class="menu-navigation-link" data-mobile-link href="#review"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
      <button type="button" data-modal-open data-mobile-link class="menu-btn">
        Shop now
      </button>
    </div>
  </div>
</header>
<!-- ---------modal----------- -->
<div data-modal class="backdrop-modal">
  <div class="modal">
    <button data-modal-close type="button" class="modal-close">
      <svg class="modal-close-icon" width="16" height="16">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <p class="modal-title">
      create <span class="account">a new account</span> or
      <span class="sing">sign in</span>
    </p>
    <form class="modal-form">
      <div class="modal-list">
        <div class="modal-input-wrap">
          <input
            type="text"
            name="user-name"
            class="modal-input"
            placeholder="User name"
          />
        </div>
        <div class="modal-input-wrap">
          <input
            type="password"
            name="password"
            class="modal-input"
            placeholder="Password"
          />
        </div>
        <div class="modal-input-wrap">
          <input
            type="text"
            name="invitation-code"
            class="modal-input"
            placeholder="Paste here an invitation-code if any"
          />
        </div>
      </div>
      <div class="modal-field-check">
        <input
          type="checkbox"
          name="user-privacy"
          id="user-privacy"
          class="form-check visually-hidden"
          value="true"
        />
        <label for="user-privacy" class="check-text">
          <span class="check-part">
            <svg class="check-icon" width="10" height="8">
              <use href="./img/icons.svg#checkbox-mark"></use>
            </svg>
          </span>
          <span>
            I accept the terms and conditions of the
            <a class="privacy-link" href="">Privacy Policy</a>
          </span>
        </label>
      </div>
      <div class="modal-btn-send">
        <button type="submit" class="modal-btn">create account</button>
        <button type="submit" class="modal-btn-sing">sign in</button>
      </div>
    </form>
  </div>
</div>
