<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <div class="header-container-logo">
        <ul class="header-logo-list">
          <li class="header-logo-item">
            <a class="header-logo-link" href="./header.html">
              <svg class="icon-logo-squares" width="16" height="16">
                <use href="./img/icons.svg#squares-mob"></use>
              </svg>
            </a>
          </li>
          <li class="header-logo-item">
            <a class="header-logo-link" href="./header.html">
              <svg class="icon-logo-text" width="148" height="12">
                <use href="./img/icons.svg#logo-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="header-container-nav">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="./header.html">How It Works</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="./header.html">Vegetables</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="./header.html">Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <button type="button" class="header-btn">Shop now</button>
    <button type="button" class="open-menu-btn">
      <svg class="icon-menu" width="32" height="32">
        <use href="./img/icons.svg#menu-mob"></use>
      </svg>
    </button>
  </div>
</header>
