<section class="section work-section" id="howitwork">
  <div class="container work-wrapper">
    <h2 class="visually-hidden">How it works</h2>
    <div class="container-pic">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/how-it-works/girl-desk-1x.jpg 1x,
            ./img/how-it-works/girl-desk-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/how-it-works/girl-tab-1x.jpg 1x,
            ./img/how-it-works/girl-tab-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/how-it-works/girl-mob-1x.jpg 1x,
            ./img/how-it-works/girl-mob-2x.jpg 2x
          "
        />
        <img
          class="image"
          src="./img/how-it-works/girl-tab-1x.jpg"
          alt="Cooking woman"
        />
      </picture>
    </div>
    <div class="container-list">
      <div class="list-box">
        <h2 class="list-title">
          To order your <span class="title-accent">vegetable</span> basket,
          simply follow these <span class="title-accent">easy steps</span>
        </h2>
        <p class="text-title">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="numeric-list">
          <li class="numeric-item">
            <span class="numbers"></span>
            <p class="numeric-text">
              Just choose
              <span class="numeric-accent">the vegetable</span> you want to
              order by clicking on the checkboxes
              <span class="numeric-accent">next to it</span>.
            </p>
          </li>
          <li class="numeric-item">
            <span class="numbers"></span>
            <p class="numeric-text">
              Click on <span class="numeric-accent">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="numeric-item">
            <span class="numbers"></span>
            <p class="numeric-text">
              Sit back and relax! Your
              <span class="numeric-accent">fresh vegetables</span> basket will
              be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
