<section class="section vegetables-section">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">eggplant</p>
            <p class="vegetables-text-card">60 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ../img/vegetables/eggplant-desk-1x.jpg 1x,
                ../img/vegetables/eggplant-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/vegetables/eggplant-tab-1x.jpg 1x,
                ../img/vegetables/eggplant-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/vegetables/eggplant-mob-1x.jpg 1x,
                ../img/vegetables/eggplant-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img src="../img/vegetables/eggplant-desk-1x.jpg" alt="eggplant" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">leek</p>
            <p class="vegetables-text-card">50 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ../img/vegetables/leek-desk-1x.jpg 1x,
                ../img/vegetables/leek-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/vegetables/leek-tab-1x.jpg 1x,
                ../img/vegetables/leek-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/vegetables/leek-mob-1x.jpg 1x,
                ../img/vegetables/leek-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img src="../img/vegetables/leek-desk-1x.jpg" alt="leek" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">mushrooms</p>
            <p class="vegetables-text-card">40 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ../img/vegetables/mushrooms-desk-1x.jpg 1x,
                ../img/vegetables/mushrooms-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/vegetables/mushrooms-tab-1x.jpg 1x,
                ../img/vegetables/mushrooms-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/vegetables/mushrooms-mob-1x.jpg 1x,
                ../img/vegetables/mushrooms-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="../img/vegetables/mushrooms-desk-1x.jpg"
              alt="mushrooms"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">corn</p>
            <p class="vegetables-text-card">60 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ../img/vegetables/corn-desk-1x.jpg 1x,
                ../img/vegetables/corn-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/vegetables/corn-tab-1x.jpg 1x,
                ../img/vegetables/corn-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/vegetables/corn-mob-1x.jpg 1x,
                ../img/vegetables/corn-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img src="../img/vegetables/corn-desk-1x.jpg" alt="corn" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">sweet potatoes</p>
            <p class="vegetables-text-card">50 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ../img/vegetables/potatoes-desk-1x.jpg 1x,
                ../img/vegetables/potatoes-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/vegetables/potatoes-tab-1x.jpg 1x,
                ../img/vegetables/potatoes-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/vegetables/potatoes-mob-1x.jpg 1x,
                ../img/vegetables/potatoes-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img src="../img/vegetables/potatoes-desk-1x.jpg" alt="potatoes" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">carrot</p>
            <p class="vegetables-text-card">40 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ../img/vegetables/carrot-desk-1x.jpg 1x,
                ../img/vegetables/carrot-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/vegetables/carrot-tab-1x.jpg 1x,
                ../img/vegetables/carrot-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/vegetables/carrot-mob-1x.jpg 1x,
                ../img/vegetables/carrot-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img src="../img/vegetables/carrot-desk-1x.jpg" alt="carrot" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
