<section id="vegetables" class="section vegetables">
  <div data-aos="fade-left" data-aos-duration="1000" class="container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item" data-aos="zoom-in">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">eggplant</p>
            <p class="vegetables-text-card">60 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ./img/vegetables/eggplant-desk-1x.png 1x,
                ./img/vegetables/eggplant-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/vegetables/eggplant-tab-1x.png 1x,
                ./img/vegetables/eggplant-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/eggplant-mob-1x.png 1x,
                ./img/vegetables/eggplant-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img src="./img/vegetables/eggplant-desk-1x.png" alt="eggplant" />
          </picture>
        </div>
        <p class="vegetables-cover-text">
          Eggplant is a low-calorie vegetable rich in nutrients and antioxidants
          that help protect the body's cells. It also contains fiber, which is
          beneficial for digestion. Interesting fact: Eggplants are relatives of
          potatoes and tomatoes
        </p>
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">leek</p>
            <p class="vegetables-text-card">50 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ./img/vegetables/leek-desk-1x.png 1x,
                ./img/vegetables/leek-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/vegetables/leek-tab-1x.png 1x,
                ./img/vegetables/leek-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/leek-mob-1x.png 1x,
                ./img/vegetables/leek-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/vegetables/leek-desk-1x.png" alt="leek" />
          </picture>
        </div>
        <p class="vegetables-cover-text">
          Leek, a mild-flavored vegetable, packs a nutritional punch with
          vitamins, minerals, and antioxidants. Its fiber content aids
          digestion. Fun fact: Leeks are botanical relatives of onions and
          garlic
        </p>
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">mushrooms</p>
            <p class="vegetables-text-card">40 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ./img/vegetables/mushrooms-desk-1x.png 1x,
                ./img/vegetables/mushrooms-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/vegetables/mushrooms-tab-1x.png 1x,
                ./img/vegetables/mushrooms-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/mushrooms-mob-1x.png 1x,
                ./img/vegetables/mushrooms-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/vegetables/mushrooms-desk-1x.png" alt="mushrooms" />
          </picture>
        </div>
        <p class="vegetables-cover-text">
          Mushrooms, versatile fungi, boast a plethora of nutrients and
          antioxidants, promoting overall health. Their fiber content aids
          digestion. Interestingly, mushrooms are not plants but belong to the
          fungi kingdom
        </p>
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">corn</p>
            <p class="vegetables-text-card">60 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ./img/vegetables/corn-desk-1x.png 1x,
                ./img/vegetables/corn-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/vegetables/corn-tab-1x.png 1x,
                ./img/vegetables/corn-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/corn-mob-1x.png 1x,
                ./img/vegetables/corn-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img src="./img/vegetables/corn-desk-1x.png" alt="corn" />
          </picture>
        </div>
        <p class="vegetables-cover-text">
          Corn, a staple grain, is rich in essential nutrients and antioxidants,
          promoting overall health. Fun fact: Corn is a domesticated grass and
          one of the most widely grown crops globally
        </p>
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">sweet potatoes</p>
            <p class="vegetables-text-card">50 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ./img/vegetables/potatoes-desk-1x.png 1x,
                ./img/vegetables/potatoes-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/vegetables/potatoes-tab-1x.png 1x,
                ./img/vegetables/potatoes-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/potatoes-mob-1x.png 1x,
                ./img/vegetables/potatoes-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img src="./img/vegetables/potatoes-desk-1x.png" alt="potatoes" />
          </picture>
        </div>
        <p class="vegetables-cover-text">
          Sweet potatoes, nutritious root vegetables, are packed with vitamins,
          minerals, and antioxidants, contributing to overall well-being. Fun
          fact: Sweet potatoes are not related to regular potatoes; they belong
          to the morning glory family
        </p>
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <div class="wrap-vegetables-card">
          <div class="wrap-vegetables-text-card">
            <p class="vegetables-title-card">carrot</p>
            <p class="vegetables-text-card">40 UAH / kg</p>
          </div>
          <picture>
            <source
              srcset="
                ./img/vegetables/carrot-desk-1x.png 1x,
                ./img/vegetables/carrot-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-tab-1x.png 1x,
                ./img/vegetables/carrot-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob-1x.png 1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img src="./img/vegetables/carrot-desk-1x.png" alt="carrot" />
          </picture>
        </div>
        <p class="vegetables-cover-text">
          Carrots, vibrant root vegetables, are loaded with vitamins, minerals,
          and antioxidants, supporting various aspects of health. Fun fact:
          Carrots were originally purple, not orange, and were cultivated for
          medicinal purposes
        </p>
      </li>
    </ul>
  </div>
</section>
