.footer.section {
  background-color: brown;
  padding: 40px 0;
}

.container {
  outline: 1px solid wheat;
}

@media screen and (min-width: 768px) {
  .footer.section {
    margin: 0 auto;
    padding: 32px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer.section {
    margin: 0 auto;
    padding: 50px 0;
  }
}
