/*! Footer */

.footer {
  color: #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.footer-container {
  background-color: #7a3145;
  max-width: 375px;
  padding: 40px 20px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 14px;
}

.icon.desk-tab {
  display: none;
}

.footer-second-div {
  width: 215px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-nav-item {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.42px;
}

.footer-nav-item:not(:last-child) {
  padding-bottom: 14px;
}

.footer-contacts-item {
  font-weight: 600;
  letter-spacing: -0.21px;
}

.footer-contacts-item:not(:last-child) {
  padding-bottom: 14px;
}

.footer-happyend {
  display: flex;
  justify-content: space-between;
}

.footer-happyend-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.footer-happyend-item {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.18px;
}

.footer-happyend-copyrights {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.18px;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-container {
    max-width: 768px;
    padding: 32px;
  }

  .footer-info {
    margin-bottom: 100px;
    flex-direction: row;
    gap: 224px;
  }

  .footer-first-div {
    width: 265px;
  }

  .footer-logo {
    gap: 8px;
    margin-bottom: 25px;
  }

  .icon.desk-tab {
    display: block;
  }

  .icon.mob {
    display: none;
  }

  .footer-second-div {
    gap: 64px;
  }

  .footer-nav-item {
    font-size: 32px;
    letter-spacing: -0.48px;
  }

  .footer-nav-item:not(:last-child) {
    padding-bottom: 25px;
  }

  .footer-contacts-item {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.27px;
  }

  .footer-contacts-item:not(:last-child) {
    padding-bottom: 25px;
  }

  .footer-happyend-item {
    color: rgba(251, 251, 251, 0.5);
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.27px;
  }

  .footer-happyend-copyrights {
    color: rgba(251, 251, 251, 0.5);
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.27px;
  }
}

@media screen and (min-width: 1280px) {
  .footer.section {
    margin: 0 auto;
    padding: 50px 0;
  }
}
