.header .container {
  background-color: #576f35;
  padding-top: 20px;
  padding-bottom: 48px;
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo-list {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: none;
}

.header-btn {
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

/* -------mobail_menu----------  */

.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  z-index: 999;
  width: 100vw;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7a3145;
  padding: 240px 110px 40px 110px;
  display: flex;
  flex-direction: column;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu-navigation {
  margin-bottom: auto;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 60px;
}

.menu-navigation-link {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  width: 115px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navigation-link:hover,
.menu-navigation-link:focus {
  background-color: #fbfbfb;
  color: #7a3145;
}

.menu-btn {
  color: #7a3145;
  background-color: #fbfbfb;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  padding: 16px 41px;
  max-width: 155px;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover,
.menu-btn:focus {
  color: rgba(122, 49, 69, 0.7);
}

/* -------------modal------------------ */

.backdrop-modal {
  padding: 10px 20px;
  overflow-y: auto;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(20, 20, 20, 0.4); */
  background-image: radial-gradient(
    circle at center,
    rgba(41, 98, 33, 0.4) 15%,
    rgba(46, 47, 66, 0.7) 70%
  );
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 100vw;
  min-height: 100svh;
  background-color: #fbfbfb;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
  transform: translate(-50%, -50%) scale(1);
  padding: 100px 20px 40px 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background-color: #fbfbfb;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-close-icon {
  fill: #737373;
}

.modal-title {
  color: #141414;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.account {
  color: #7a3145;
}

.sing {
  color: #576f35;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.modal-input {
  width: 100%;
  height: 52px;
  padding-left: 16px;
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #7a3145;
}

.modal-input::placeholder {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.modal-field-check {
  margin-bottom: 25px;
  padding-left: 8px;
}

.check-text {
  color: #5b5b5b;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.check-part {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: #f4f4fd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text .check-part {
  background-color: #576f35;
  border: none;
  fill: #f4f4fd;
}

.modal-btn-send {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal-btn {
  color: #fbfbfb;
  background-color: #7a3145;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  padding: 16px 80px;
  display: block;
  min-width: 338px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #622133;
}

.modal-btn-sing {
  color: #fbfbfb;
  background-color: #576f35;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  padding: 16px 80px;
  display: block;
  min-width: 338px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-sing:hover,
.modal-btn-sing:focus {
  background-color: #4a5f2d;
}

/* =============MEDIA==================== */

@media screen and (max-width: 374px) {
  .mob-menu {
    padding: 240px 82px 40px 82px;
  }
  .modal-btn-sing {
    min-width: 290px;
    padding: 16px 60px;
  }

  .modal-btn {
    min-width: 290px;
    padding: 16px 60px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 32px;
    padding-bottom: 50px;
  }

  .header-logo-list {
    gap: 8px;
  }

  .icon-logo-squares {
    width: 18px;
    height: 18px;
  }

  .icon-logo-text {
    width: 168px;
    height: 15px;
  }

  .icon-menu {
    width: 40px;
    height: 40px;
  }

  .mob-menu {
    width: 351px;
    left: 100%;
    transform: translate(-100%);
    padding: 360px 97px 50px 97px;
  }

  .close-menu-btn {
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
  }

  .mob-close-icon {
    width: 40px;
    height: 40px;
  }

  .menu-navigation-link {
    font-size: 16px;
    line-height: 1.25;
    width: 123px;
    height: 44px;
  }

  .menu-btn {
    font-size: 18px;
    line-height: 1.11;
    padding: 16px 32px;
    max-width: 157px;
  }
  /* -------------------------- */

  .modal {
    width: 440px;
    min-height: 600px;
    /* min-height: 100vh; */
    border-radius: 20px;
    padding: 90px 50px 25px 50px;
  }

  .modal-title {
    font-size: 20px;
  }

  .modal-field-check {
  }
}

/* -------------------------------------- */

@media screen and (min-width: 1280px) {
  .header .container {
    position: absolute;
    width: 100%;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: transparent;
    padding: 0 100px;
  }

  .header-navigation {
    margin-right: 20px;
  }

  .header-menu-list {
    display: flex;
    gap: 8px;
  }

  .header-menu-link {
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.4);
    padding: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    background-color: #fbfbfb; /*experiamtal*/
    color: #7a3145;
    border: 1px solid #7a3145;
  }

  .open-menu-btn {
    display: none;
  }

  .header-btn {
    display: block;
    color: #fbfbfb;
    background-color: #7a3145;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    padding: 16px 32px;
    max-width: 157px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: #622133;
  }

  .backdrop {
    display: none;
  }
  /* -------------------------- */
  .modal {
    width: 628px;
    min-height: 557px;
    padding: 100px 100px 50px 100px;
  }

  .modal-title {
    font-size: 24px;
  }

  .modal-input::placeholder {
    font-size: 16px;
  }

  .modal-btn {
    font-size: 18px;
    min-width: 428px;
  }

  .modal-btn-sing {
    font-size: 18px;
    min-width: 428px;
  }
}
/* back to top button */

#backToTop {
  display: inline-block;
  background-color: #7a3145;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backToTop::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backToTop:hover {
  cursor: pointer;
  background-color: #333;
}
#backToTop:active {
  background-color: #555;
}
#backToTop.show {
  opacity: 1;
  visibility: visible;
}
@media (min-height: 344px) and (max-height: 853px) and (min-width: 667px) and (max-width: 1368px) {
  .mob-menu {
    padding: 80px 0 40px 0;
  }

  .menu-navigation-list {
    margin-bottom: 0;
  }
}
