.your-order .container {
  background-color: #7a3145;
}
.your-order .container {
  /* outline: 1px solid wheat; */
}
/* ======Title====== */
.your-order-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.order-title-part {
  color: rgba(251, 251, 251, 0.3);
}
.your-order-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 40px;
}
.your-order-wrap {
}
/* ======Form====== */
.order-form-container {
  max-width: 335px;
  min-height: 533px;
  border-radius: 30px;
  background-color: #fbfbfb;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.order-form-title {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 270px;
}
.form-title-first-part {
  color: #7a3145;
}
.form-title-second-part {
  color: #576f35;
}
.your-order-form {
}
.input-field {
  margin-bottom: 15px;
}
.order-label {
}
.order-input {
  width: 100%;
  height: 46px;
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding-left: 16px;
  background-color: transparent;
  outline: none;
}
.order-input:focus {
  border-color: #7a3145;
}
.order-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}
.order-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}
.order-input::placeholder {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.textarea-field {
  margin-bottom: 20px;
}
.order-textarea {
  vertical-align: bottom;
  width: 100%;
  height: 91px;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  resize: none;
  background-color: transparent;
  outline: none;
}
.order-textarea:focus {
  border-color: #7a3145;
}
.order-textarea::placeholder {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.your-order-btn {
  width: 295px;
  height: 50px;
  background-color: #576f35;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 16px 129px;
}
/* ======Socials====== */
.order-social-container {
  max-width: 335px;
  min-height: 465px;
  background-color: #576f35;
  border-radius: 30px;
  padding: 40px 20px;
}
.your-order-image {
  margin-bottom: 20px;
}
.order-social-text {
  color: rgba(251, 251, 251, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.015px;
  margin-bottom: 14px;
}
.order-social-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.order-social-item {
  color: #fbfbfb;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.015em;
}
@media screen and (max-width: 374px) {
  .your-order-btn {
    padding: 16px 20px;
    width: 100%;
  }
  .order-form-title {
    font-size: 22px;
  }
}
/* ======Tablet====== */
@media screen and (min-width: 768px) {
  /* ======Title====== */
  .your-order-title {
    font-size: 64px;
    line-height: 1;
    width: 640px;
    margin-bottom: 25px;
  }
  .your-order-text {
    font-size: 16px;
    line-height: 1.25;
    width: 640px;
    margin-bottom: 50px;
  }
  /* ======Form====== */
  .order-form-container {
    max-width: 628px;
    min-height: 534px;
    margin: 0 auto;
    padding: 50px 100px;
    margin-bottom: 25px;
  }
  .order-form-title {
    width: 428px;
    margin-bottom: 50px;
  }
  .order-input {
    height: 52px;
  }
  .order-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .textarea-field {
    margin-bottom: 25px;
  }
  .order-textarea {
    height: 95px;
    padding: 16px 16px;
  }
  .order-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .your-order-btn {
    width: 428px;
    height: 52px;
    padding: 16px 191px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
  }
  /* ======Socials====== */
  .order-social-container {
    max-width: 628px;
    min-height: 490px;
    margin: 0 auto;
    padding: 50px;
  }
  .your-order-image {
    margin-bottom: 50px;
  }
  .order-social-text {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }
  .order-social-list {
    flex-wrap: nowrap;
    gap: 12px;
  }
  .order-social-item {
    font-size: 32px;
    line-height: 1;
  }
}
/* ======Desktop====== */
@media screen and (min-width: 1280px) {
  /* ======Title====== */
  .your-order-title {
    width: 751px;
  }
  .your-order-wrap {
    display: flex;
    gap: 24px;
  }
  .your-order-text {
    width: 742px;
  }
  /* ======Form====== */
  .order-form-container {
    padding: 50px;
    max-width: 529px;
    margin-bottom: 0;
  }
  /* ======Socials====== */
  .order-social-container {
    width: 527px;
    height: 534px;
  }
  .order-social-list {
    flex-wrap: wrap;
  }
}
